* text=auto eol=lf

# GRAPHICS
*.png   binary
*.jpg   binary
*.jpeg  binary
*.gif   binary
*.tif   binary
*.tiff  binary
*.ico   binary

# FONTS
*.ttf   binary
*.eot   binary
*.otf   binary
*.woff  binary
*.woff2 binary
