/*!preferences.css
 * Stylesheet for preferneces window.
 * 
 * Author: Patrick Goldinger
 * License: GPL 3.0 (see LICENSE file for details)
 */

#preferences {
    background-color: rgba(0,0,0,0.5);
    display: block;
    height: 100%;
    left: 0;
    opacity: 1;
    position: fixed;
    top: 0;
    transition: 200ms ease;
    width: 100%;
    z-index: 20;
}
#preferences[data-visible="false"] {
    opacity: 0;
    z-index: -1;
}
#preferences-window {
    background-color: var(--grey-100);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    margin: 0 auto;
    overflow: hidden auto;
    padding: 16px;
    transition: inherit;
    width: 100%;
    max-width: 600px;
}
#preferences-window h2 {
    color: var(--green-400);
}
#preferences-window h2,
#preferences-window h3 {
    margin: 0;
    padding: 8px 0;
}
#preferences-window .pref-row,
#preferences-window .btn-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 0;
    width: 100%;
}
#preferences-window .pref-row label {
    flex-grow: 1;
}
#preferences-window .pref-row .select {
    cursor: pointer;
    position: relative;
}
#preferences-window .pref-row input[type="text"],
#preferences-window .pref-row .select select {
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--grey-200);
    border: 4px solid transparent;
    border-radius: 4px;
    color: var(--text-black);
    cursor: inherit;
    font-family: inherit;
    padding: 4px;
    transition: 200ms ease;
    width: 150px;
}
#preferences-window .pref-row .select::after {
    background-color: var(--text-blackish);
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    content: "";
    display: block;
    height: 8px;
    pointer-events: none !important;
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translate(-6px, -50%);
    width: 8px;
}
#preferences-window .pref-row input[type="text"]:hover,
#preferences-window .pref-row .select select:hover {
    background-color: var(--grey-300);
}
#preferences-window .pref-row input[type="text"]:focus,
#preferences-window .pref-row .select select:focus {
    background-color: var(--grey-300);
    border-color: var(--green-400);
}
#preferences-window .pref-row + .pref-row {
    border-top: 1px solid var(--grey-400);
}
#preferences-window .btn-row {
    justify-content: flex-end;
    padding-bottom: 0;
}
#preferences-window .btn-row button.green {
    margin-right: 16px;
}
