:root {
    --grey-100: #070707;
    --grey-200: #171717;
    --grey-300: #272727;
    --grey-400: #373737;
    --grey-500: #4F4F4F;
    --grey-600: #575757;
    --grey-700: #676767;

    --white: var(--always-black);
    --whitish: var(--always-blackish);
    --black: var(--always-white);
    --blackish: var(--always-whitish);
}
